@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

.hero-section {
  position: relative;
  width: 100%;
  height: 400px;
  background-image: url('/public/images/ttt.jpg'); /* <- adjust path if needed */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  font-family: 'Lato', sans-serif;

}

.overlay {
  background-color: rgba(3, 3, 3, 0.5);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 60px;
}

.content55 {
  color: white;
  max-width: 1200px;
  padding-left: 500px;
}

.content h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.content p {
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 30px;
}

.cta-btn {
  display: inline-block;
  padding: 12px 24px;
  background-color: #e1004c;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  transition: background 0.3s ease;
}

.cta-btn:hover {
  background-color: #c40040;
}

.design-section {
  padding:0px 20px;
  background-color: #fff;
}

.design-container {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  align-items: flex-start;
  gap: 40px;
  margin-top: 80px;
}

.visual-left {
  flex: 0 0 150px;
  position: relative;
  margin-top: 100px;
}

.circle {
  width: 100px;
  height: 100px;
  border: 2px solid #333;
  border-radius: 50%;
  position: relative;
   margin-top: 60px; 
   margin-left: auto;
  margin-right: auto; 
}

.arrow-line {
  width: 130px;
  height: 2px;
  background: #26abe1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
}

.content-right {
  flex: 1;
}

.content-right h2 {
  font-size: 1.9rem;
  line-height: 1.4;
  margin-bottom: 30px;
  color: #000;
}

.image-wrapper7 {
  position: relative;

}

.rounded-img {
  width: 100%;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  object-fit: cover;
  height: 320px;
}

.floating-text-box {
  background: #f9f9f9;
  padding: 20px 25px;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
  margin-top: -40px;
  width: 90%;
  position: relative;
     right: 20%;
     line-height: 1.8;
}

.about-nnc-section {
  padding: 60px 30px;
  background-color: #fff;
}

.about-nnc-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  align-items: flex-start;
  gap: 40px;
}

.about-left {
  flex: 1 1 35%;
  min-width: 280px;
}

.about-left h2 {
  font-size: 26px;
  font-weight: 700;
  color: #000;
  margin-bottom: 10px;
}

.about-left h3 {
  font-size: 22px;
  font-weight: 600;
  color: #000;
}

/* .about-divider {
  width: 1px;
  background-color: #4e6ef1;
  height: auto;
  min-height: 200px;
} */

.about-right {
  flex: 1 1 60%;
  min-width: 300px;
}

.about-right p {
  font-size: 16px;
  line-height: 1.7;
  margin-bottom: 15px;
  color: #222;
}

