@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

.container18 {
  font-family: 'Lato', sans-serif;
  padding-top: 7% !important;
  padding-bottom: 8% !important;
}

.border {
  border: 1px solid #ccc !important;
}

.text-star{
    font-size: 25px;
}